<igx-card type="outlined" [ngStyle]="{'visibility':(this.playerMainService.musicStatus == 'radio' || this.playerMainService.musicStatus == 'playing' || this.playerMainService.musicStatus == 'pause') ? 'visible' : 'hidden'}" class="myCard">
    <igx-card-actions [ngStyle]="{'visibility':(this.playerMainService.musicStatus == 'playing' || this.playerMainService.musicStatus == 'pause') ? 'visible' : 'hidden'}" [reverse]="true">
        <button igxButton="icon" (click)="this.socket.emit('play', this.playerMainService.trackId)">
            <igx-icon>play_arrow</igx-icon>
        </button>
        <button igxButton="icon" (click)="this.socket.emit('pause')">
            <igx-icon>pause</igx-icon>
        </button>
        <button igxButton="icon" (click)="this.socket.emit('stop')">
            <igx-icon>stop</igx-icon>
        </button>
        <button igxButton="icon" (click)="this.socket.emit('volume', '-10')">
            <igx-icon>volume_down</igx-icon>
        </button>
        <button igxButton="icon" (click)="this.socket.emit('volume', '+10')">
            <igx-icon>volume_up</igx-icon>
        </button>
        <button igxButton="icon" (click)="this.socket.emit('prevTrack')">
            <igx-icon>skip_previous</igx-icon>
        </button>
        <button igxButton="icon" (click)="this.socket.emit('nextTrack')">
            <igx-icon>skip_next</igx-icon>
        </button>
    </igx-card-actions>
    <igx-card-header [ngStyle]="{'visibility':(this.playerMainService.musicStatus == 'radio' || this.playerMainService.musicStatus == 'playing' || this.playerMainService.musicStatus == 'pause') ? 'visible' : 'hidden'}">
        <igx-card-media width="80px" height="80px">
            <img src="{{this.playerMainService.cover}}"/>
        </igx-card-media>
        <h3 igxCardHeaderTitle>{{this.playerMainService.title}}</h3>
        <h5 igxCardHeaderSubtitle>{{this.playerMainService.artist}}</h5>
        <h5 igxCardHeaderSubtitle>{{this.playerMainService.album}}</h5>
        <igx-slider igxCardHeaderTitle id="position" [minValue]="0" [maxValue]="100" [continuous]=true [(ngModel)]="position" class="slider"></igx-slider>
    </igx-card-header>
</igx-card>
