
.hour.mat-display-3 {
  font-size: 80px;
  line-height: 68px;
  margin: 0;
  font-weight: 100;
}

.date.mat-display-0 {
  margin:0;
  margin-bottom: 20px;
}

/* AM/PM Indicator */
.indicator.mat-display-0 {
  margin-right: 20px;
}

.mat-display-0 {
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  margin: 5px 0;
  &.status-clock {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
