<div class="flex-container dark">
    <div class="full-width">
        <app-status-bar [title]="'Alarme'"></app-status-bar>
        <section [ngStyle]="{'background-color':selected ==='enableToggle' ? '#1b70cb' : '' }">
            <igx-switch #activate>Activer</igx-switch>
        </section>
        <section>
            <igx-time-picker [itemsDelta]="{hours:1, minutes:1}" #timePicker format="HH:mm" [mode]="mode">
                <ng-template igxTimePickerTemplate let-openDialog="openDialog" let-value="value" let-displayTime="displayTime">
                    <igx-input-group>
                        <igx-prefix>
                            <label [ngStyle]="{'background-color':selected ==='hours' ? '#1b70cb' : '' }">{{getHours(displayTime)}}</label>:
                            <label [ngStyle]="{'background-color':selected ==='minutes' ? '#1b70cb' : '' }">{{getMinutes(displayTime)}}</label>
                        </igx-prefix>
                        <input #timePickerValue igxInput [value]="displayTime" hidden/>
                        <igx-suffix>
                            <igx-icon>access_alarm</igx-icon>
                        </igx-suffix>
                    </igx-input-group>
                </ng-template>
            </igx-time-picker>
        </section>
        <section>
            <label>Volume {{volume}}</label>
        </section>
        <section [ngStyle]="{'background-color':selected ==='volume' ? '#1b70cb' : '' }">
            <igx-slider id="volume" [minValue]="10" [maxValue]="100" [step]="10" [continuous]=true [(ngModel)]="volume"></igx-slider>
        </section>
        <section>
            <label>Augmenter le volume pendant {{volumeIncreaseDuration}} minutes</label>
        </section>
        <section [ngStyle]="{'background-color':selected ==='volumeIncreaseDuration' ? '#1b70cb' : '' }">
            <igx-slider [minValue]="1" [maxValue]="120" [continuous]=true [(ngModel)]="volumeIncreaseDuration"></igx-slider>
        </section>
        <section>
            <label>Arrêt après {{snoozeAfter}} minutes</label>
        </section>
        <section [ngStyle]="{'background-color':selected ==='snoozeAfter' ? '#1b70cb' : '' }">
            <igx-slider [minValue]="1" [maxValue]="120" [step]="5" [continuous]=true [(ngModel)]="snoozeAfter"></igx-slider>
        </section>
        <section [ngStyle]="{'background-color':selected ==='enableDeezer' ? '#1b70cb' : '' }">
            <igx-switch #enableDeezer>{{enableDeezer.checked ? 'Playlist Deezer' : 'Radio'}}</igx-switch>
        </section>
        <section
                [ngStyle]="{'background-color':selected ==='playlist' ? '#1b70cb' : '' ,'visibility': (enableDeezer.checked ?'visible':'hidden'),'display': (enableDeezer.checked ?'block':'none')}">
            <igx-carousel #playlistSelect animationType="slide" [navigation]="false" (onSlideAdded)="onPlaylistAdded()">
                <ng-template igxCarouselIndicator let-slide></ng-template>
                <igx-slide *ngFor="let item of playlists">
                    <igx-card class="myCard">
                        <igx-card-header>
                            <igx-avatar [src]="item.picture" size="small"></igx-avatar>
                            <h5 igxCardHeaderTitle>{{item.title}}</h5>
                        </igx-card-header>
                    </igx-card>
                </igx-slide>
            </igx-carousel>
        </section>
        <section
                [ngStyle]="{'background-color':selected ==='radios' ? '#1b70cb' : '' ,'visibility': (!enableDeezer.checked ?'visible':'hidden'),'display': (!enableDeezer.checked ?'block':'none')}">
            <igx-carousel #radioSelect animationType="slide" [navigation]="false" (onSlideAdded)="onRadioAdded()">
                <ng-template igxCarouselIndicator let-slide></ng-template>
                <igx-slide *ngFor="let item of radios">
                    <igx-card class="myCard">
                        <igx-card-header>
                            <igx-avatar [src]="item.picture" size="small"></igx-avatar>
                            <h5 igxCardHeaderTitle>{{item.title}}</h5>
                        </igx-card-header>
                    </igx-card>
                </igx-slide>
            </igx-carousel>
        </section>
    </div>
</div>

