<div class="flex-container dark">
    <div class="full-width">
        <app-status-bar [title]="'Playlists'"></app-status-bar>
        <igx-grid #grid1 igxPreventDocumentScroll [data]="localData" [cellSelection]="'none'" [rowSelection]="'single'"
                  [hideRowSelectors]="true" [primaryKey]="'id'" (onCellClick)="click($event)">
            <ng-template igxRowSelector let-rowContext></ng-template>
            <igx-column field="details" header="Titre" width="200">
                <ng-template igxCell let-cell>
                    <div class="cell__inner">
                        <igx-avatar [src]="cell.picture" size="small"></igx-avatar>
                        <span>{{ cell.title }}</span>
                    </div>
                </ng-template>
            </igx-column>

            <igx-column field="nb_tracks" header="Nombre de titres" dataType="number">
                <ng-template igxCell let-val>
                    <div class="cell__inner">
                        {{ val }}
                    </div>
                </ng-template>
            </igx-column>
        </igx-grid>
    </div>
</div>
