.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw- 40px);
}

.flex-container div.full-width {
  width: 100vw;
}