/* Global styles */
@import '~igniteui-angular/lib/core/styles/themes/index';
@import '~weather-icons/css/weather-icons.min.css';

@include igx-core();
@include igx-theme($default-palette);
@include igx-dark-theme($default-palette);
@import '~igniteui-angular/lib/core/styles/components/slider/slider-theme';
@include igx-switch(igx-switch-theme($thumb-on-color: #e9fafc,
$track-on-color: #1bbccb));
@include igx-slider(igx-slider-theme(
        $schema: $dark-schema,
        $base-track-hover-color: transparentize(#1bbccb, 0.9),
        $base-track-color: transparentize(#1bbccb, 0.9),
        $track-hover-color: #1bbccb,
        $track-color: #1bbccb,
        $thumb-hover-color: #e9fafc,
        $thumb-color: #e9fafc));

@include igx-grid(igx-grid-theme(
        $schema: $dark-schema,
        $row-selected-background: #1bbccb,
        $row-selected-hover-background: transparentize(#1bbccb, 0.9),
        $cell-selected-background: null,
        $cell-active-border-color: transparentize(#1bbccb, 0.9),
));

/* app css stylesheet */

/* Some Styles Reset */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         not supported by any browser */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  cursor: default;
}

a, button {
  cursor: pointer;
}

input, textarea {
  cursor: text;
}

/* Main page styles */
body {
  background-color: #000;
  color: #fff;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

/// Angular material styles
/************
 * Defaults
 ************/
button,
select,
html,
textarea,
input {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

select,
button,
textarea,
input {
  font-size: 100%;
}

app-status-bar {
  min-height: 20px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: #afafaf;
}

#dz-root {
  visibility: hidden;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);

  &.dark {
    background: #000;
  }
}

.flex-container div.full-width {
  position: absolute;
  width: 720px;
  height: 480px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.app-background {
  height: 100vh;
  width: 100vw;

  &.light {
    background: #fff;
  }
}

.scroller {
  overflow: auto;
  max-height: 100vh;

  &.status-bar {
    max-height: calc(100vh - 20px);
  }
}

.hidden-button {
  background: none;
  border: none;
  color: none;
  position: fixed;
  top: 0;
  right: -14px;
  max-width: 1px;
  opacity: 0;

  &:focus, &:hover {
    outline: none;
    box-shadow: 0;
    background-color: none;
    opacity: 0;
  }
}

.simple-keyboard {
  max-width: 850px;
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}
