/* Global styles */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
@import 'scss/fonts';
@import 'scss/helpers';

/* app css stylesheet */

/* Some Styles Reset */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        not supported by any browser */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  cursor: default;
}

a, button {
  cursor: pointer;
}

input, textarea {
  cursor: text;
}

/* Main page styles */
body {
  background-color: #000;
  color: #fff;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: 0;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

p {
  margin: 0;
}

/// Angular material styles
/************
 * Defaults
 ************/
button,
select,
html,
textarea,
input {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

select,
button,
textarea,
input {
  font-size: 100%; }

.splash-screen svg {
  max-height: 120px;
}
/************
 * Headings
 ************/
.md-display-4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -0.010em;
  line-height: 112px; }

.md-display-3 {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 56px; }

.md-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px; }

.md-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px; }

.md-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; }

.md-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em; }

.md-subhead {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 24px; }

app-status-bar {
  min-height: 30px;
  md-toolbar-row {
      height: auto !important;
  }
  md-toolbar {
      min-height: 30px;
  }
}

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    background-color: #efefef;
}
 
::-webkit-scrollbar-thumb {
    background-color: #afafaf; 
}