.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}
    
md-toolbar.center-text md-toolbar-row {
    justify-content: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw- 40px);
}

.flex-container div.full-width {
  width: 100vw;
}

.hidden-button {
  background: none;
  border: none;
  color: none;
  position: fixed;
  top:0;
  right: -14px;
  max-width: 1px;
  opacity: 0;
  &:focus, &:hover {
    outline: none;
    box-shadow: 0;
    background-color: none;
    opacity: 0;
  }
}