.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  &.dark {
    background: #000;
  }
}

.flex-container div.full-width {
  position: absolute;
  width: 720px;
  height: 480px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.app-background {
  height: 100vh;
  width: 100vw;
  &.light {
    background: #fff;
  }
}
.scroller {
  overflow: auto;
  max-height: 100vh;
  &.status-bar {
    max-height: calc(100vh - 20px);
  }
}

.hidden-button {
  background: none;
  border: none;
  color: none;
  position: fixed;
  top:0;
  right: -14px;
  max-width: 1px;
  opacity: 0;

  &:focus, &:hover {
    outline: none;
    box-shadow: 0;
    background-color: none;
    opacity: 0;
  }
}

.simple-keyboard {
  max-width: 850px;
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}
